@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type='text'],
input[type='number'] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  position: relative;
}

#city-search input {
  margin-bottom: 0;
  border: none;
}

.description {
  font-weight: 10;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  width: 80%;
}

#event-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.alerts-container {
  position: fixed;
  top: 0px;
  right: 30px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#number-of-events {
  width: 50px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  border-bottom: solid;
  border-color: #ccc;
  display: flex;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.body {
  margin-top: 150px;
}

.search-container {
  display: flex;
  border: solid;
  height: 45px;
  align-items: center;
  margin-bottom: 20px;
  border-width: 1px;
  padding: 3px 3px 3px 3px;
  border-radius: 4px;
  border-color: #ccc;
}

.icon {
  height: 32px;
  width: 32px;
  margin-right: 5px;
}

.event-row {
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .header {
    flex-direction: column;
    padding-right: 30px;
    align-items: center;
  }

  #city-search {
    margin-left: 0;
  }
}
